<!DOCTYPE html>
<html>
<head>


    <link rel="stylesheet" href="{{asset "components/foundation/css/foundation.css"}}"> 

    <!-- This is how you would link your custom stylesheet -->
    <link rel="stylesheet" href="{{asset "css/app.css"}}">
    
    <script src="{{asset "components/modernizr/modernizr.js"}}"></script>



    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}

    {{{block "meta"}}}
    
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "/favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <!-- <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" /> -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
	<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5472e7f410a4df99" async="async"></script>






<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-38738531-1', 'auto');
  ga('send', 'pageview');

</script>



</head>
<body class="{{body_class}}">
<div class="row first">
    <div class="contain-to-grid">
        <nav class="top-bar" data-topbar role="navigation">
          <ul class="title-area">
            <li class="name">
              <!-- <h1><a href="#">My Site</a></h1> -->
            </li>
             <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
          </ul>

          <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
                
            </ul>
            <!-- Left Nav Section -->
            <ul class="left">
            <li><a href="/tag/electronic">Electronic</a></li>
                <li><a href="/tag/indie">Indie</a></li>
                <li><a href="/tag/folk">Folk</a></li>
                <li><a href="/tag/psychedelic">Psychedelic</a></li>
                <li><a href="/tag/rock">Rock</a></li>
                <li><a href="/tag/featured-tracks">Featured Tracks</a></li>
                <li><a href="/tag/album-review">Album Reviews</a></li>
                <li class="has-dropdown">
                    <a href="#">Years</a>
                    <ul class="dropdown">
                        <li><a href="/tag/2012">2012</a></li>
                        <li><a href="/tag/2013">2013</a></li>
                        <li><a href="/tag/2014">2014</a></li>
                        <li><a href="/tag/2015">2015</a></li>
                    </ul>
                </li>
            </ul>
             <!--  <li><a href="#">Left Nav Button</a></li> -->
            
          </section>
        </nav>
    </div>
</div>
<div class="row second">
    <div class="large-9 medium-7 small-6 columns logo">
        <a href="{{@blog.url}}"> 
        <img data-interchange="[{{asset "/img/danlogo.png"}}, (default)],[{{asset "img/medium-headphones.png"}}, (medium)]  [{{asset "/img/mkb-main.png"}}, (large)]" class="danlogo">
        </a>

    </div>
    <div class="large-3 medium-5 small-6 columns social">
        <div class="row third">
            <div class="large-12 columns">
                <div class="img-logos">
                    <ul class="inline-list icons">
                        <li class="facebook-mini"><a href="https://www.facebook.com/mustknowbands?ref=hl"><img src="{{asset "/img/fb_logo.png"}}"></a></li>
                        <li class="twitter-mini"><a href="https://twitter.com/MustKnowBands"><img src="{{asset "/img/twitter_logo.png"}}" width="29" height="29"></a></li>
                        <li class="instagram-mini"><a href="http://instagram.com/mustknowbands"><img src="{{asset "/img/instagram_logo.png"}}"  width="29" height="29"></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row fourth">


            <div class="large-12 columns twitter-follow">  
                <a href="https://twitter.com/MustKnowBands" class="twitter-follow-button"   data-show-count="false">Follow @MustKnowBands</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
                    </script>
            </div>

        <div class="stumble-fb">
             <div class="large-4 medium-5 columns stumble"> 
                        <!-- Place this tag where you want the su badge to render -->
                <su:badge layout="2"></su:badge>

                <!-- Place this snippet wherever appropriate -->
                <script type="text/javascript">
                  (function() {
                    var li = document.createElement('script'); li.type = 'text/javascript'; li.async = true;
                    li.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + '//platform.stumbleupon.com/1/widgets.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(li, s);
                  })();
                </script>
            </div>



            <div class="large-8 medium-7 columns facebook-like">  

                <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fmustknowbands%3Fref%3Dhl&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;" allowTransparency="true"></iframe>

            </div>
        
         </div>                       
     
    </div> 

        <div class="row fifth">
            <div class="large-12 columns search">
                <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
                <script src="{{asset "js/jquery.ghostHunter.min.js"}}"></script>
                <form class="search">
                    <input id="search-field" />
                    <input type="submit" value="Search" class="search">
                </form>
                
                <script>
                    $("#search-field").ghostHunter({
                        results   : "#results",
                        displaySearchInfo   : false,
                        result_template : "<h2 class='results'><a href='\{{link}}'>\{{title}}</a></h2><h4 class='results'>\{{pubDate}}</h4>",
                        zeroResultsInfo     : false,
                        onComplete : function(results){
                            $("#allposts").empty()
                            $(".older-posts").empty()
                        }
                        
                       
                        });

                </script>
            </div>
        </div>

    </div>  


</div>







    {{! Everything else gets inserted here }}
    {{{body}}}





	
    <footer class="site-footer clearfix">
	
        <div class="row">
            <div class="large-12 small-12 columns footer">
                <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
                <section class="poweredby">Proudly published with <a href="https://ghost.org">Ghost</a></section>
				<img class="logo"><a href="{{@blog.url}}"><img src="{{asset "/img/danlogo.png"}}" width="80" height="80" style=" background:black;" class="alt-logo"></a></li>
            </div>
        </div>
    </footer>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! The main JavaScript file for Casper }}
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>

	<script src="{{asset "components/jquery/dist/jquery.js"}}"></script>
    <script src="{{asset "components/foundation/js/foundation.min.js"}}"></script>
    <script src="{{asset "components/foundation/js/foundation/foundation.interchange.js"}}"></script>
    
   
	
		
    <script>
        $(document).foundation();
    </script>

</body>
</html>
