{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}



<div class="row first">
    <div class="contain-to-grid">
        <nav class="top-bar" data-topbar role="navigation">
          <ul class="title-area">
            <li class="name">
              <!-- <h1><a href="#">My Site</a></h1> -->
            </li>
             <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
          </ul>

          <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
                <li><a href="/electronic">Electronic</a></li>
                <li><a href="/indie">Indie</a></li>
                <li><a href="/folk">Folk</a></li>
                <li><a href="/psychedelic">Psychedelic</a></li>
                <li><a href="/rock">Rock</a></li>
                <li><a href="/reggae">Reggae</a></li>
                <li><a href="/rap">Rap</a></li>
                <li><a href="/albumreviews">Album Reviews</a></li>
                <li class="has-dropdown">
                    <a href="years">Years</a>
                    <ul class="dropdown">
                        <li><a href="2013">2013</a></li>
                        <li><a href="2014">2014</a></li>
                        <li><a href="2015">2015</a></li>
                    </ul>
                </li>
            </ul>

            <!-- Left Nav Section -->
            <ul class="left">
             <!--  <li><a href="#">Left Nav Button</a></li> -->
            </ul>
          </section>
        </nav>
    </div>
</div>
<div class="row second">
	<div class="large-8 small-12 columns">
		{{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}">
		<div id="main-logo">
		<img src="{{@blog.logo}}" width="80%" height="80%" alt="Blog Logo" /></a>{{/if}}
		</div>
    </div>
    <div class="large-4 small-12 columns right">
        <div class="row third">
            <div class="large-12 columns">
                <div class="img-logos">
                    <ul class="inline-list">
                        <li class="facebook"><a href="https://www.facebook.com/mustknowbands?ref=hl"><img src="{{asset "/img/fb_logo.png"}}"></a></li>
                        <li class="twitter"><a href="https://twitter.com/MustKnowBands"><img src="{{asset "/img/twitter_logo.png"}}" width="29" height="29"></a></li>
                        <li class="instagram"><a href="http://instagram.com/mustknowbands"><img src="{{asset "/img/instagram_logo.png"}}"  width="29" height="29"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>







{{! The main content area on the homepage }}

<main id="content" class="content" role="main">
    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}
</main>









